.git
.github
.venv
.vscode
.foundry
__pycache__
*.pyc
*.db
*.db-journal
.env
.env.template
infra/.terraform
infra/.terraform.lock.hcl
infra/terraform.tfstate*
azure
test
payload.json
Sample_ER_*.json
README.md
